<article style="background-image: linear-gradient(180deg,rgb(27, 27, 27),transparent), url({{ agendaItem.picture }})">       
    <p>{{ agendaItem.date }}</p>
    <p>{{ agendaItem.location }}</p>
    <p>{{ agendaItem.price }}</p>
    <a href="{{ agendaItem.url }}">Meld je aan
        <img class="arrow" src="./images/arrow.png"></img>
    </a>
</article>