<article style="--background-image: url({{ agendaItem.image }})">
  <a class="link-block events" href="{{ agendaItem.button.url }}" aria-label="{{ agendaItem.button.aria }} {{ agendaItem.activity }}">
    <p>{{ agendaItem.date }}</p>
    <p>{{ agendaItem.activity }}</p>
    <p>{{ agendaItem.price }}</p>
    {% include "./components/button.liquid"
      , button: agendaItem.button %}
  </a>
</article>