<article style="--background-image: url({{ agendaItem.picture }})">       
    <p>{{ agendaItem.date }}</p>
    <p>{{ agendaItem.location }}</p>
    <p>{{ agendaItem.price }}</p>
    <a href="{{ agendaItem.url }}">Meld je aan
        <img class="arrow" src="./images/arrow.png"></img>
    </a>
</article>