{% layout "layouts/base.liquid" %}


{% block content %}
  {% include "partials/image-slider.liquid" %}


  <section class="plantinfo">

    <h2>{{ plant.name }}</h2>

    <div id="info">
      <article id="general">
        <img src="{{ plant.image.src }}" alt="{{ plant.image.alt }}">

        <div>
          <h3>Algemene informatie</h3>
          <h4>Beschrijving</h4>
          <p>{{ plant.description }}</p>
          <h4>Land van herkomst</h4>
          <p>{{ plant.origin }}</p>
          <h4>Giftig</h4>
          <p>{{ plant.toxicity }}</p>

        </div>
      </article>
      <article id="care">

        <div>
          <h3>Verzorging</h3>
          <p> {{ harry.uitleg }}</p>
          <p> {{ harry.temperatuur }}</p>
          <svg
            id="cartoon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 352.25 406.05">
            <defs>
              <style>
                .cls-1 {
                  stroke-width: 3px;
                }
                .cls-1,
                .cls-2,
                .cls-3,
                .cls-4,
                .cls-5 {
                  fill: none;
                }
                .cls-1,
                .cls-2,
                .cls-6,
                .cls-7,
                .cls-8,
                .cls-4,
                .cls-5,
                .cls-9,
                .cls-10 {
                  stroke-miterlimit: 10;
                }
                .cls-1,
                .cls-2,
                .cls-7,
                .cls-8,
                .cls-4,
                .cls-9,
                .cls-10 {
                  stroke: #000;
                }
                .cls-2,
                .cls-10 {
                  stroke-width: 6px;
                }
                .cls-11 {
                  clip-path: url('#clippath');
                }
                .cls-3,
                .cls-12,
                .cls-13,
                .cls-14,
                .cls-15,
                .cls-16,
                .cls-17,
                .cls-18,
                .cls-19,
                .cls-20,
                .cls-21,
                .cls-22,
                .cls-23,
                .cls-24 {
                  stroke-width: 0;
                }
                .cls-6 {
                  fill: #b47049;
                  stroke: #e54e4e;
                }
                .cls-6,
                .cls-7,
                .cls-4,
                .cls-9 {
                  stroke-width: 2px;
                }
                .cls-7 {
                  fill: #ff7bac;
                }
                .cls-8 {
                  fill: #a9db54;
                }
                .cls-5 {
                  stroke: #823a37;
                  stroke-width: 4px;
                }
                .cls-10,
                .cls-20 {
                  fill: #c17052;
                }
                .cls-13 {
                  fill: #75a833;
                }
                .cls-14 {
                  fill: #29abe2;
                }
                .cls-15 {
                  fill: #5677c4;
                }
                .cls-16 {
                  fill: #ac5346;
                }
                .cls-17 {
                  fill: #cbc04a;
                }
                .cls-18 {
                  fill: #de976d;
                }
                .cls-19 {
                  fill: #db9364;
                }
                .cls-21 {
                  fill: #bf3533;
                }
                .cls-22 {
                  fill: #fff;
                }
                .cls-23 {
                  fill: #edd7e4;
                }
                .cls-24 {
                  fill: #0071bc;
                }
              </style>
              <clipPath id="clippath"><path class="cls-3" d="m113.42,79.8C122.46,32.54,150.97-.11,176.71,0c31.86.14,54.36,52.67,64.98,77.39,8.58,19.97,12.69,37.87,14.83,50.78.9,3.66,1.52,9.01-1.14,13.61-2.78,4.8-8.36,9.36-25.2,9.36-34.11,0-54.35-.46-54.35-.46l-72.82-17.19s.32-29.51,10.41-53.69Z" /></clipPath>
            </defs><g id="harry" data-mood="neutraal"><path
              id="been_l"
              class="cls-10"
              d="m130.65,317.05l8.36,34.18c1.25,5.24,5.73,8.47,10,7.72,3.41-.6,6.26-3.67,7.12-7.72,1.58-11.39,3.16-22.78,4.74-34.18h-30.22Z" /><path
              id="been_r"
              class="cls-10"
              d="m230.88,317.05l-8.36,34.18c-1.25,5.24-5.73,8.47-10,7.72-3.41-.6-6.26-3.67-7.12-7.72-1.58-11.39-3.16-22.78-4.74-34.18h30.22Z" /><path
              id="arm_l"
              class="cls-10"
              d="m63.02,200.05c5.51-8.57,16.66-18.86,23-16,7.58,3.42,4.47,23.9,4,27-2.77,18.27-13.42,29.37-18,34-5.1,5.17-10.35,10.47-14,9-6.82-2.75-2.82-27.02-2-32,1.45-8.77,2.55-15.08,7-22Z" /><path
              id="arm_r"
              class="cls-10"
              d="m301.13,200.05c-5.51-8.57-16.66-18.86-23-16-7.58,3.42-4.47,23.9-4,27,2.77,18.27,13.42,29.37,18,34,5.1,5.17,10.35,10.47,14,9,6.82-2.75,2.82-27.02,2-32-1.45-8.77-2.55-15.08-7-22Z" /><g id="pot"><path class="cls-20" d="m81.02,112.05h201c1.76.07,4.07.46,6,2,3.4,2.71,3.1,6.96,3,22-.09,12.87.09,16.92-3,19-1.89,1.27-4.19,1.26-6,.98-3.67,43.67-7.33,87.35-11,131.02-.23,2.09-2.28,18.12-16,26-5.83,3.35-11.55,3.95-15,4h-117.37c-2.69,0-11.64-.36-19.63-7-10.79-8.98-11-22.11-11-24-3.67-43.08-7.33-86.17-11-129.25-2.11.14-4.83-.08-7-1.75-3.15-2.43-3.03-6.3-3-21,.02-13.8-.07-17.52,3-20,2.24-1.8,5.04-2.06,7-2Z" /><path class="cls-16" d="m222.08,152.25l-3.06,134.8s-1.4,24-25.7,30h37.56s18.76,0,18.76,0l13.5-10.93,7.37-15.95,10.09-117.14,1.43-22.98-59.94,2.2Z" /><path class="cls-19" d="m106.02,114.05s-4,3-4,10v28.2h35v-32.43s-.59-5.79,4.21-7.78-35.21,2.01-35.21,2.01Z" /><path class="cls-19" d="m108.29,154.05l11.73,133s1.06,19,21.03,30h23.09s-18.12-11-20.12-34l-3.51-130.8-32.22,1.8Z" /><line
                class="cls-5"
                x1="80.02"
                y1="154.05"
                x2="285.02"
                y2="154.05" /><path class="cls-16" d="m74.48,146.54s1.01,4.18,5.04,3.13h148.05v-30.59s0-3.86-3.02-4.9v-3.13l60.43,1.53,5.1,4.56v36.91H71.46l-.45-5.7.45-1.81h3.02Z" /><path class="cls-2" d="m81.02,112.05h201c1.76.07,4.07.46,6,2,3.4,2.71,3.1,6.96,3,22-.09,12.87.09,16.92-3,19-1.89,1.27-4.19,1.26-6,.98-3.67,43.67-7.33,87.35-11,131.02-.23,2.09-2.28,18.12-16,26-5.83,3.35-11.55,3.95-15,4h-117.37c-2.69,0-11.64-.36-19.63-7-10.79-8.98-11-22.11-11-24-3.67-43.08-7.33-86.17-11-129.25-2.11.14-4.83-.08-7-1.75-3.15-2.43-3.03-6.3-3-21,.02-13.8-.07-17.52,3-20,2.24-1.8,5.04-2.06,7-2Z" /></g><g id="sombrero"><path class="cls-6" d="m239.26,65.64s93.43-6.39,109.4,22.63c0,0,8.71,22.97-5.8,31.44,0,0-94.3,84.64-340.93-22.97,0,0-14.44-17.87,71.36-16.19,0,0,41.81,7.2,165.97-14.9Z" /><g class="cls-11"><path class="cls-18" d="m113.92,79.8C122.95,32.54,151.47-.11,177.21,0c31.86.14,54.36,52.67,64.98,77.39,8.58,19.97,12.69,37.87,14.83,50.78.9,3.66,1.52,9.01-1.14,13.61-2.78,4.8-8.36,9.36-25.2,9.36-34.11,0-54.35-.46-54.35-.46l-72.82-17.19s.32-29.51,10.41-53.69Z" /><path class="cls-21" d="m106.07,107s39.7,30.84,142.48,5.45,0,43.53,0,43.53l-148.73-7.25,6.25-41.72Z" /><path class="cls-23" d="m102.21,82.22l-1.55,29.77s62.36,53.1,152.72,2.94l-1.94-28.35s-64.17,41.43-149.23-4.36Z" /><path class="cls-15" d="m113.6,75.57s44.26,18.8,130.11,4.26c85.85-14.54,3.02,16.9,3.02,16.9l-99.77,4.4-42.17-12.56s-8.33-8.77,0-11.18,8.81-1.81,8.81-1.81Z" /><path class="cls-21" d="m108.14,78.59l-1.19,15.72s70.26,33.86,139.78,2.42c69.53-31.44-3.02-8.16-3.02-8.16,0,0-86.15,23.88-135.57-9.98Z" /></g><path class="cls-18" d="m.02,94.05s220.26,108.84,347,23.77c0,0-22.45,62.61-172.42,55.7-34.63.89-61.61-5.02-78.98-10.18C86.73,160.7,1.43,135.37.02,96.05c-.03-.85-.02-1.55,0-2Z" /><g id="Laag_17"><polygon class="cls-17" points="237.67 70.13 243.71 79.83 255.8 68.92 237.67 70.13" /><polygon class="cls-17" points="259.1 68.92 265.48 82.22 279.61 68.92 259.1 68.92" /><polygon class="cls-17" points="282.62 68.92 289.66 85.85 301.75 71.34 282.62 68.92" /><polygon class="cls-17" points="307.8 72.55 309.01 87.06 324.72 78.59 307.8 72.55" /><polygon class="cls-17" points="328.35 78.59 327.14 94.31 340.17 86.45 328.35 78.59" /><polygon class="cls-17" points="342.86 87.49 347.36 94.31 342.86 101.13 342.86 87.49" /><polygon class="cls-17" points="12.76 90.69 22.44 97.94 21.23 87.06 12.76 90.69" /><polygon class="cls-17" points="27.75 87.06 35.74 99.15 40.46 87.06 27.75 87.06" /><polygon class="cls-17" points="46.62 84.64 55.08 95.52 62.2 84.64 46.62 84.64" /><polygon class="cls-17" points="69.43 84.64 79.89 92.5 86.52 84.64 69.43 84.64" /><polygon class="cls-17" points="94.99 83.43 104.79 88.57 112.02 83.43 94.99 83.43" /></g>
          </g>
          <g id="sjaal"><path class="cls-14" d="m84.69,224.65s90.32,26.4,193.32,4.4c0,0,4,11.14,4,15.07,0,0-219.65,57.13-197.32-19.47Z" /><path class="cls-24" d="m140.58,283.42s6.44,27.63-20.56,57.63c0,0-32,33-32,56,0,0,0,9-11,9,0,0-47-3-41-29,0,0,3.42-33.04,33.71-57.02,0,0,26.88-27.4,22.58-47.69l48.27,11.08Z" /><path class="cls-24" d="m294.02,284.05s2.11-14.75-3.95-41.37c0,0-95.43,8.57-205.74-18.03,0,0-11.31,32.4-10.31,42.4,0,0-3,3,26,10,0,0,127,29,194,7Z" /><path class="cls-14" d="m143.45,235.81c-14.66-2.13-29.95-4.82-45.63-8.19-4.23,5.39-13.5,19.47-17.89,43.7,3.88,1.4,9.67,3.13,18.32,5.22,0,0,15.87,3.62,39.34,7.33-1.55-7.82-2.8-24.3,5.85-48.06Z" /><path class="cls-14" d="m240.02,244.05c-8.97-.36-18.07-.79-27.29-1.31-10.68-.6-21.2-1.3-31.53-2.09.21,14.45,1.23,32.09,4.15,49.49,8.31.89,17.22,1.57,26.67,1.91,9.55.34,18.57.3,27,0-.46-8.14-.64-16.94-.38-26.32.22-7.65.71-14.89,1.38-21.68Z" /><path class="cls-14" d="m44.8,350.49c-7.78,14.94-9.05,27.13-9.05,27.13-.66,2.84-.68,5.41-.2,7.73,4.83,3.77,21.37,14.18,52.28,10.22.61-7.87,4.58-16.71,9.53-24.93-10.65-2.8-34.25-9.7-52.56-20.16Z" /><path class="cls-14" d="m113.88,348.14c3.47-4.05,5.87-6.52,5.87-6.52,8.37-9.3,13.53-18.38,16.66-26.47-11.8-3.57-33.64-10.72-49.27-18.91-6.81,13.28-17.67,24.37-17.67,24.37-2.86,2.27-5.48,4.61-7.89,7.01,5.67,5.09,21.34,16.36,52.31,20.54Z" /></g>
          <g id="plant"><path class="cls-13" d="m172.77,111.49c-2.16-7.16-4.12-16.08-4.75-26.44-.31-5.05-.26-9.74,0-14-2.7.23-10.2.52-18-4-8.58-4.98-12.02-12.58-13-15-.48-1.19-2.66-6.9,0-13,2.51-5.74,8.33-9.6,15-10,2.67-.22,6.55-.21,11,1,7.07,1.92,11.74,5.82,14,8,1.91-2.22,4.86-5.21,9-8,3.38-2.27,9.57-6.45,18-7,2.93-.19,14.84-.97,21,7,8.24,10.66-1.45,27.1-2,28-1.39,2.29-7.19,11.47-19,14-9.94,2.13-17.83-1.82-20-3-.83,4.85-1.41,10.97-1,18,.6,10.29,3.09,18.65,5.35,24.44h-15.6Z" /><path class="cls-8" d="m136.52,39.55c.54,2.29,6.48,1.63,13,3,18.19,3.82,31.17,21.18,30.33,20.11-1.18-1.5-2.46-3.53-3.33-6.11-2.58-7.7,3.52-13.12,2-18-2.3-7.4-17.46-7.82-22-8-5.46-.21-9.14.73-12,2-3.3,1.47-8.54,4.73-8,7Z" /><path class="cls-8" d="m226.52,33.55c-7.65,2.46-17,6.19-27,12-8.57,4.98-15.54,10.27-21,15-.56-1.61-5.18-15.63,3-27,9.04-12.56,28.53-14.66,39-7,2.98,2.18,4.84,4.87,6,7Z" /><path class="cls-1" d="m180.62,34.33s-14.63,24.89,9.88,37.31" /><path class="cls-1" d="m178.58,60.49c-.81,1.58-2.61,4.56-6.06,7.06-3.44,2.5-6.82,3.29-8.57,3.57" /><path class="cls-2" d="m172.77,111.49c-2.16-7.16-4.12-16.08-4.75-26.44-.31-5.05-.26-9.74,0-14-2.7.23-10.2.52-18-4-8.58-4.98-12.02-12.58-13-15-.48-1.19-2.66-6.9,0-13,2.51-5.74,8.33-9.6,15-10,2.67-.22,6.55-.21,11,1,7.07,1.92,11.74,5.82,14,8,1.91-2.22,4.86-5.21,9-8,3.38-2.27,9.57-6.45,18-7,2.93-.19,14.84-.97,21,7,8.24,10.66-1.45,27.1-2,28-1.39,2.29-7.19,11.47-19,14-9.94,2.13-17.83-1.82-20-3-.83,4.85-1.41,10.97-1,18,.6,10.29,3.09,18.65,5.35,24.44h-15.6Z" /></g><g id="ogen"><g id="neutraal"><circle
              class="cls-12"
              cx="146.52"
              cy="195.55"
              r="16.5" /><circle
              class="cls-12"
              cx="215.52"
              cy="195.55"
              r="16.5" /><circle
              class="cls-22"
              cx="220.02"
              cy="195.05"
              r="6" /><circle
              class="cls-22"
              cx="151.02"
              cy="195.05"
              r="6" /></g>
          <g id="sangry"><path class="oog_l" d="m153.62,181.53c5.38,1.28,11.41,13.23,6.04,22.54-4.56,7.89-14.65,10.6-22.54,6.04-9.19-5.3-10.03-19.39-6.04-22.54,1.34-1.06,2.48-.3,6.08-.53,9.44-.61,12.21-6.52,16.46-5.51Z" /><path class="oog_r" d="m225.01,210.02c-7.89,4.56-17.98,1.85-22.54-6.04-5.28-9.15.49-21.01,6.04-22.54,3.36-.93,5.07,2.36,14.59,4.28,5.31,1.07,6.5.39,7.95,1.76,4.09,3.89,2.97,17.34-6.04,22.54Z" /><circle
              class="cls-22"
              cx="220.02"
              cy="195.05"
              r="6" /><circle
              class="cls-22"
              cx="151.02"
              cy="195.05"
              r="6" /></g>
          <g id="Bril"><path class="cls-12" d="m111.7,176.33s32.32-10.28,55.32-.28c0,0,5,2,8,1,0,0,8-2,15,0,0,0,3,1,8-1,0,0,21-10,53,0,0,0,1,1.45,0,5.22,0,0-3,1.78-4,12.78,0,0-2,22-16,24,0,0-26,7-34-8-1.26-1.85-2.53-3.93-3.75-6.25-2.63-5.03-4.24-9.77-5.25-13.75-.52-1.86-.32-3.14,0-4,.21-.57.45-.9.42-1.42-.06-1.13-1.3-2-2.42-2.58,0,0-3-1-6,0,0,0-5,1-3,5,0,0,1,1,0,4-.65,2.35-1.51,4.91-2.62,7.62-1.68,4.07-3.57,7.53-5.38,10.38-1.71,2.65-4.37,5.86-8.38,8.38-13.16,8.26-28.81,1.45-30.62.62,0,0-10.9-2-12.95-23,0,0-1.05-7-2.05-9,0,0-.21-3.28-2.6-4.64,0,0-1.04-2.8-.72-5.08Z" /></g>
        </g><g id="mond"><g id="fluit"><circle
            class="cls-4"
            cx="203.52"
            cy="248.55"
            r="11.5" /><circle
            class="cls-9"
            cx="203.52"
            cy="248.55"
            r="6.5" /></g>
        <g id="sip"><path class="cls-9" d="m210.02,259.55c-.33.86-10.35-4.9-26-5.5-18.84-.73-31.6,6.55-32,5.5-.41-1.09,12.46-10.55,29-10.5,16.46.05,29.39,9.5,29,10.5Z" /></g>
        <g id="dorst"><path class="cls-9" d="m149.02,251.16c.29,1.48,10.98-1.37,27-.1,21.26,1.68,35.19,9.31,37,6,.92-1.69-2.03-4.93-3-6-10.78-11.85-32.42-8.26-40-7-10.74,1.78-21.29,5.62-21,7.1Z" /><path class="cls-7" d="m194.83,261.96c4.71,8.2,1.32,12.91,6.12,17.81,4.09,4.18,11.63,5.92,14.92,3.16,4.56-3.83-.01-15.5-3.08-20.92-4.13-7.3-11.52-13.9-16.86-13.42-.82.07-2.31.38-5.16.56-4.48.29-5.68-.14-6.06.5-.94,1.58,5.89,4.96,10.11,12.3Z" /></g>
        <g id="blij"><path class="cls-12" d="m218.02,243.05c2.66,3.33-12.46,30.24-35,31-23.62.8-40.58-27.62-38-31,2.06-2.7,15.72,11.56,38,11,20.84-.52,32.91-13.61,35-11Z" /></g>
        <g id="neutraal-2"><rect
            class="cls-12"
            x="148.02"
            y="251.05"
            width="65"
            height="7"
            rx="3.5"
            ry="3.5" /></g>
        <g id="Gek"><rect
            class="cls-12"
            x="166.15"
            y="225.38"
            width="25"
            height="58"
            rx="12"
            ry="12"
            transform="translate(242.25 558.64) rotate(-156.72)" /><path class="cls-4" d="m164.77,286.64s12.83,7.35,22.28-7.53l14.38-33.44s7.21-14.67-9.09-23.14" /><path class="cls-4" d="m165.23,286.83s-13.77-4.09-9.39-21.15l14.38-33.44s5.72-15.31,22.59-9.51" /></g>
      </g>
    </g>
  </svg>
</div>
<h4>Moeilijkheidsgraad</h4>
<p>{{ plant.difficulty }}</p>
<h4>Temperatuur</h4>
<p>{{ plant.temp }}</p>
<h4>Zonlicht</h4>
<p>{{ plant.sunlight }}</p>
<h4>Stekken</h4>
<p>{{ plant.cutting }}</p>
<h4>Water geven</h4>
<p>{{ plant.watering }}</p>
<h4>Voeding</h4>
<p>{{ plant.feeding }}</p></article></div></section>{% endblock %}